<h1>@ViewBag.Mess</h1>

<form asp-action="Index" method="post">
    <label>Nhap MaSinhVien:</label>
    <input type="text" name="MaSinhVien" />
    <label>Nhap HoTen :</label>
    <input type="text" name="HoTen" />
    <input type="submit" value="submit" />
</form>